body {
	font: 16px 'Handlee', cursive;
}
h1 {
	text-align: center;
	font-size: 300%;
}
.container {
	width: 450px;
	height: 450px;
	margin: 0 auto;
}
.item {
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	float: left;
	font-size: 600%;
	line-height: 150px;
	text-align: center;
}
.item:nth-child(1), .item:nth-child(2), 
.item:nth-child(4), .item:nth-child(5) {
	border-right: 4px solid #000;
	border-bottom: 4px solid #000;
}
.item:nth-child(3), .item:nth-child(6) {
	border-bottom: 4px solid #000;
}
.item:nth-child(7), .item:nth-child(8) {
	border-right: 4px solid #000;
}
.play {
	text-align: center;
	margin-top: 50px;
}
.play button {
	font-size: 200%;
	font-family:'Handlee', cursive;
	font-weight: bold;
	padding: 5px 30px;
	cursor: pointer;
}
#alert {
	box-sizing: border-box;
	width: 300px;
	min-height: 130px;
	position: absolute;
	top: 240px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 0 10px #aaa;
	background-color: #fff;
	text-align: center;
	font-size: 200%;
	padding: 20px 0;
	display: none;
}
#alert button {
	font-size: 70%;
	font-family:'Handlee', cursive;
	padding: 0 10px;
	cursor: pointer;
}